[user]
	email = zqren@foxmail.com
	name = Ziqiang Ren
[core]
	quotepath = false
[color]
	status = true
	diff = auto
	branch = auto
	interactive = auto
	ui = auto
	log = true
[alias]
	co = checkout
	ci = commit
	st = status
	pl = pull
	ps = push
	dt = difftool
	l = log --stat
	cp = cherry-pick
	ca = commit -a
	br = branch
	brt = branch --sort=-committerdate
	bra = branch -a
	mg = merge --no-ff
